* {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: url('https://ahost2.bulbagarden.net/content/bulbagarden/images/bg-green-2x-optim.png') no-repeat center center;
  background-size: cover;
}

.nav-home {
  font-size: 25px;
  color: #323C9A;
}

.pokemonList-card-img {
  height: 300px;
}

.cardTitle {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.cardTitle:hover,
.nav-home:hover {
  color: #d35400;
}

.card-tags {
  padding-right: 8px;
  font-weight: bold;
}

